<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pxl.android.cemeo"
    android:versionCode="102"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.pxl.android.cemeo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />


    <uses-permission android:name="com.pxl.android.cemeo.permission.C2D_MESSAGE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />
    //Status internet verbinding controleren
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //Account ophalen GCM
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />



    <application
        android:name=".BootstrapApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bootstrap.Light"
        android:debuggable="true">

        <activity
            android:name=".ui.CarouselActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service
            android:name=".authenticator.AccountAuthenticatorService"
            android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service android:name=".GCMIntentService" />

        <activity
            android:name=".authenticator.BootstrapAuthenticatorActivity"
            android:excludeFromRecents="true">

            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>

        <activity android:name=".ui.MeetingActivity" />
        <activity
            android:name=".ui.UserActivity"
            android:label="@string/app_name" />

        <activity android:name=".ui.CreateMeetingAddContactActivity" />
        <activity android:name=".ui.ContactActivity" />
        <activity android:name=".ui.PropositionActivity" />
        <activity android:name=".ui.SelectFavLocationActivity" />




        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.pxl.android.cemeo" />
            </intent-filter>
        </receiver>


    </application>

</manifest>